<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateId</servlet-name>
        <servlet-class>com.niit.controler.Createuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.niit.controler.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetails</servlet-name>
        <servlet-class>com.niit.controler.AddCarDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>com.niit.controler.AdOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarImageServlet</servlet-name>
        <servlet-class>com.niit.controler.UpdateCarImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCarDetailsServlet</servlet-name>
        <servlet-class>com.niit.controler.ModifyCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellCarDetailsServlet</servlet-name>
        <servlet-class>com.niit.controler.SellCarDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarServlet</servlet-name>
        <servlet-class>com.niit.controler.UpdateCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.niit.controler.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.niit.controler.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>com.niit.controler.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>com.niit.controler.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOD</servlet-name>
        <servlet-class>com.niit.controler.ConfirmOD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MgConfirm</servlet-name>
        <servlet-class>com.niit.controler.MgConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compare</servlet-name>
        <servlet-class>com.niit.controler.Compare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUploadCar</servlet-name>
        <servlet-class>com.niit.controler.CustomerUploadCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdtCarImg</servlet-name>
        <servlet-class>com.niit.controler.CustomerUpdtCarImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateId</servlet-name>
        <url-pattern>/create.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetails</servlet-name>
        <url-pattern>/addcar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarImageServlet</servlet-name>
        <url-pattern>/updatecarimage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellCarDetailsServlet</servlet-name>
        <url-pattern>/SellCar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCarDetailsServlet</servlet-name>
        <url-pattern>/Modify.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarServlet</servlet-name>
        <url-pattern>/UpdateCar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/passchange.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/confirmorder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOD</servlet-name>
        <url-pattern>/ConfirmOD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MgConfirm</servlet-name>
        <url-pattern>/mg.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compare</servlet-name>
        <url-pattern>/comp.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUploadCar</servlet-name>
        <url-pattern>/customerupload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdtCarImg</servlet-name>
        <url-pattern>/customerupdt.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
